{% extends "base.html" %}
{% block title %}how to use{% endblock %}
{% block content %}
<h1>how to use?</h1>
<h4>the endless option</h4>
<p1>this is the endless website you can put in the search bar after the / every thing you want and the system will create for you a new website that contet that thing you put after the /</p1>
<h4>how to creat user?</h4>
<p1>to creat a user you need to put in the serch bar /sign_in/(user_name)/psw or if you alredy have an user just type /login/(user_name)/(psw)</p1>
{% endblock %}
